.textarea_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 35px;

    label {
        font-family: "HelveticaNeue";
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        line-height: 21px;
    }

    .textarea {
        border: 1px solid #BCBCBC;
        border-radius: 4px;
        min-height: 110px;
        margin: 8px 0;
        padding: 15px;
    }

    .validation_rule {
        font-family: "HelveticaNeue";
        color: #2E2E2E;
        font-size: 14px;
        font-weight: 300;
    }
}