@font-face {
	font-family: "HelveticaNeue";  
	src: local("HelveticaNeue"),
	  url("./fonts/HelveticaNeue.ttc") format("truetype");
}

body {
    width: 1920px;
    height: 1080px;
}

#root {
    width: 100%;
    height: 100%;
    font-family: "HelveticaNeue";
}